@charset "utf-8";
/* CSS Document */

.home-banner{
	background-color: var(--siteColor);
	color:#000;
	position:relative;
	overflow:hidden;
}
.carousel-item > img{
	object-fit:cover;
}
.banner-search{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:9;
}
.banner-search:before{
	content:'';
	position:absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
}
.banner-search .form-control{
	border-color:#fff;
	height:40px;
}
.banner-search .btn-white{
	height:40px;
}
.box-1 {
	height:94px;
	width:332px;
	margin-left:-3rem;
	margin-bottom: 20px;
}
.box-2 {
	height:184px;
	width:231px;
	margin:0 auto 10px
}

.section-3 {
	height:px
}
.section-4 {
	max-width:900px;
	margin: 0 auto;
	position:relative
}
.section-4-text {
	font-size: 1.5rem;
}
.small-box {
	position: absolute;
    left: -30px;
    top: -30px;
}
.small-box > span {
	margin-left:10px
}
.section-5 {
	height:1851px;
	max-width:1140px;
	margin-left: auto;
	margin-right:auto
}

/* Media Screen */
@media only screen and (min-width: 768px) {
.banner-search:before{
	height: 150%;
    width: 70%;
    background-color: var(--siteColor);
    transform: rotate(-60deg) translate(15%, -30%);
}
}

@media only screen and (min-width: 992px) {
	.home-banner, .carousel-item > img{
		height:475px;
	}
	.banner-search .form-control{
		height: 50px;
	}
	.banner-search .btn-white{
		font-size: 1.25rem;
		height: 50px;
	}
}

@media only screen and (min-width: 1200px) {

	.home-banner, .carousel-item > img{
		height:575px;
	}
}

@media only screen and (max-width: 767px) {
	.home-banner, .carousel-item > img{
		color:#fff;
		height:350px;
	}
	.banner-search:before{		
		background-color: #000;
		opacity:0.5;
	}
	.home-banner .banner-headline .btn-outline-white {
		background-color: var(--siteColor);
		border-color: var(--siteColor);
		color: #fff;
	}
	.home-banner .banner-headline .btn-outline-black {
		background-color:#000;
		border-color: #000;
		color: #fff;
	}
	
}




















/* END CSS */