@charset "utf-8";
/* CSS Document */

.pull-right {
	float:right !important
}
#logo {
	float:left;
	padding-right: 45px;
	margin-right: 20px;
}
#header .right-side {
	float: right;
	right: 30px;
}
ul.display-inline li {
	margin-right:20px
}
ul.display-inline li:last-child {
	margin-right:0
}
#navigation, #navigation ul li {
	float: left;
}
.intro-search-button {
	margin-left: 0;
}
.intro-banner-search-form .input-with-icon input {
	padding-left: 45px;
}
.intro-banner-search-form .input-with-icon i {
	right: auto;
	left: 12px
}
.job-listing .job-listing-company-logo {
	margin-right: 1rem
}
.newsletter button {
	margin-left: 10px
}
#footer h4 i {
	margin-right: 5px;
}
.buttons-to-right, .dashboard-box-list .button.to-right {
	right: 1.25rem;
}
.photo-box-content {
	left: 20px
}
.social-login-buttons button {
	margin-right: 15px
}
.input-with-icon-left .form-control,
.input-with-icon-left input.with-border	 {
	padding-left: 40px
}
.input-with-icon-left i {
    left: 12px;
}
.fun-fact {
	margin-right: 20px
}
.simplebar-track {
	right: 0
}
.simplebar-scrollbar {
	right: 6px
}
.header-widget {
	float: left;
	padding-right:15px;
}
.list-3 li:before, .list-2 li:before, .list-1 li:before {
	left: 0;
}
.list-3 li, .list-2 li, .list-1 li {
	padding-left: 24px;
}
.btn-circle.ico {
	right: 1rem;
}
/*
RTL SPACE 
*/
.header-widget:last-of-type {
	padding-right: 0;
	float: right;
	border-right: none;
}
.header-notifications {
	padding-right: 15px;
}
.header-notifications:last-child {
	margin-right: -15px;
}
.header-notifications-trigger span {
	right: -7px;
}
.header-notifications-content.with-icon .notification-text{	
	padding-left:20px;
	padding-right: 5px;
}
.dashboard-nav ul li {
	border-left: 2px solid transparent
}
.dashboard-nav ul li a i {
	margin-right: 5px
}
.dashboard-nav ul li a:after {
	right: 1.25rem;
}
.dashboard-nav ul li ul li {
	padding-left: 40px;
}
.header-notifications-dropdown {
	right: -15px
}
.user-name {
	padding-left: 1rem;
}
.searchbox .input-group:before {
	left: 18px
}
/*.searchbox .input-group .form-control {
    padding-left: 40px
}*/
.tokenize > .tokens-container > .token, .tokenize > .tokens-container > .placeholder, .tokenize > .tokens-container > .token-search {
	margin-right:5px
}
.bootstrap-select.btn-group button {
	padding-right: 1.65rem;
	text-align:left
}
.skill_search .chip {
    margin-right: 6px;
	padding-right: 1.5rem;
}
.skill_search .chip > a {
    right: 0.5rem;
}
.single-page-header .left-side {
	padding-right: 1.25rem;
}
.single-page-header .header-image {
	margin-right: 1.25rem
}
.boxed-list-headline h3 i,
.single-page-header .header-details ul li img.flag,
ul.skills li {
	margin-right: 5px
}
.share-buttons-content span {
	margin-left: 10px
}
.share-buttons-icons {
	left: 5px
}
.single-page-header .header-details li {
	margin-right: 20px
}
.star-rating:after {
	margin-left: 6px
}
.freelancers-list-layout .freelancer-overview .freelancer-name {
	margin: 0 0 0 20px;
}
.boxed-list-item .item-details .detail-item {
	margin-right: 15px
}
.boxed-list-item .item-details .star-rating {
	margin-right: 1rem;
}
.icon-round{		
	margin-left: 10px;
}
.mm-menu {
	left: 0
}
.home-banner .carousel-indicators{
    left: auto;
}
.how-steps{
	right: 0;
}
#backtotop {
	right: 25px;
}
.btn-circle {
	right: 1rem;
}
@media only screen and (min-width: 768px) {

}

 @media all and (max-width:175px) {
 html.mm-opening .mm-menu.mm-opened~.mm-slideout {
 -webkit-transform: translate(140px, 0);
 -ms-transform: translate(140px, 0);
 transform: translate(140px, 0);
 -webkit-transform: translate3d(140px, 0, 0);
 transform: translate3d(140px, 0, 0)
}
}
 @media all and (min-width:550px) {
 html.mm-opening .mm-menu.mm-opened~.mm-slideout {
 -webkit-transform: translate(440px, 0);
 -ms-transform: translate(440px, 0);
 transform: translate(440px, 0);
 -webkit-transform: translate3d(440px, 0, 0);
 transform: translate3d(440px, 0, 0)
}
}
em.mm-counter {
	right:45px
}
em.mm-counter+a.mm-next+a, em.mm-counter+a.mm-next+span {
	margin-right: 90px
}
em.mm-counter+a.mm-fullsubopen {
	padding-left: 0
}
em.mm-counter+a.mm-fullsubopen+a, em.mm-counter+a.mm-fullsubopen+span {
	padding-right: 90px
}
.mm-listview em.mm-counter+.mm-next.mm-fullsubopen+a, .mm-listview em.mm-counter+.mm-next.mm-fullsubopen+span {
	padding-right: 90px;
}
@media (max-width: 991px) {
 .fullwidth .header-widget:last-of-type, .header-widget:last-of-type {
	padding-right: 15px;
	float: left;
}
 .mmenu-trigger {
 margin: 0 -5px 0 0;
 float: right;
}
/*#header .right-side .header-widget {
 border-right: 1px solid #e0e0e0;
}*/
#header .right-side {
	right: 20px;
}
.single-page-header .left-side {
    padding-right: 0;
}
.fun-fact {
	margin-right: 15px
}
}

 @media (max-width: 768px) {
 .user-menu .header-notifications-dropdown, .header-notifications-dropdown {
 right: -10px;
}
}

.hamburger {
	left: 5px
}
.mm-prev:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 23px;
	right: auto
}
.mm-next:after {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 23px;
	left: auto
}
.mm-navbar .mm-btn:first-child {
	left: 0
}
.mm-navbar .mm-btn:last-child {
	text-align: right;
	right: 0
}
ol.counter-list {
	padding-left: 20px
}
ol.counter-list li:after {
	left: -2.5em;
	text-align: right;
}
.featuredimg {
	right:-9px
}
.block a.edit, .block a.icon-round {
	float:right
}
#slide-nav .navbar-toggle {
    float: left
}
/*

RTL SPACE


*/
.radio-inline, .checkbox-inline {
	padding-left:0
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
	margin-left:10px;
}
.radio-inline {
	margin-right:1rem
}
.magic-radio + label, .magic-checkbox + label {
	padding-left: 28px;
}
.magic-radio + label:before, .magic-checkbox + label:before {
	left: 0;
}
.magic-checkbox + label:after {
	left: 7px;
}
.magic-radio + label:after {
	left: 5px
}
div.dataTables_paginate {
    text-align: right;
}
.conversation_loop.me {
	flex-direction: row-reverse;
}
.conversation_loop.other .starred {
	right:-25px;
}
.conversation_loop.me .starred {
	left:-25px;
}
.messagtext2 > a [class^="icon-"] {
	margin-right:6px
}
.messagtext2 > a > p {
	margin-left: 25px
}
.setting-circle, .menu_hide {
	right:5px;
}
.quicknav {	
	right: -280px
}
.ecdevsec .user-sidebar-container .sidebar-close-alt {
	right: 15px
}
/*
RTL SPACE
*/
.secondary_info {
	right:0
}
ul.tab li {
	float:left;
	margin-left:5px;
}
ul.tab li:first-child {
	margin-left:0;
}
.msg-count {
	right:0;
}
.table thead > tr > th.sorting,
.table thead > tr > td.sorting {
	padding-right:30px
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left:0.5em
}
/*
RTL SPACE
*/
.messages-container-inner .messages-inbox {
	border-right: 1px solid #eaeaea
}
.messages-container-inner .message-by-headline span {
	right: 1rem;
}
.message-by-headline span {
	float: right;
}
.message-action {
	right: 1rem
}
.input-with-icon i {
	right: 1rem
}
.messages-inbox ul li a {
    border-left: 3px solid transparent
}
.messages-container-inner .messages-inbox .message-avatar {
	left: 1rem;
}
.messages-inbox .message-by {
	margin-left: 85px
}
.messages-container-inner .messages-inbox .message-by {
	margin-left: 55px
}
.messages-container-inner .messages-inbox .filtertable .message-by {
	margin-left: 60px
}
.message-bubble {
	padding-right:40px;
}
.message-bubble.me {
	padding-left:40px;
	padding-right:0;
}
.message-bubble .message-avatar {
	left: 0;
}
/* Message Bubble "me" */
.message-bubble.me .message-avatar {
	left: auto;
	right: 0;
}
.message-bubble .message-text {
	margin-left: 55px;
}
.message-bubble.me .message-text {
	float: right;
	margin-left: 0;
	margin-right: 55px;
}
.message-bubble.me .message-text.message-deleted:before {
    border-left-color: rgb(220 53 69 / 0.1);
}
.fav-star{
	right:-5px;
}
.message-bubble.me .fav-star{
	left: -5px;
	right:auto
}
.fixed-action-btn {
    right: -30px;
}
.message-bubble.me .fixed-action-btn {
    left: -30px;
	right: auto;
}
.fixed-action-btn ul {
    left: 15px;
}
.message-bubble.me .fixed-action-btn ul {
	left: auto;
    right: 15px;
}
/* Arrow */
.message-bubble .message-text:before {
	border-right: 6px solid #eee;
	left: -6px;
	right: auto;
}
.message-bubble.me .message-text:before {
	border-left: 6px solid rgb(100 190 67 / 0.1);
	border-right: none;
	right: -6px;
	left: auto;
}
.message-reply .uploadButton {
	margin:0.1rem 1rem 0 auto;
}
.header-notifications-dropdown:before {
	right: 43px;
}
.user-menu .header-notifications-dropdown:before {
	right: 25px;
}
.job-listing .job-listing-footer ul li {
	margin-right: 1rem;
}
.messages-headline .avatar {
	margin-right: 6px
}
.searchbox .input-group > .input-group-append > .btn {
	margin-left:1px
}
.user-who-bid > span{
	margin-left: 2px;
}
.pricing-group > .btn {
    margin-right: 1.25rem;
}
.range_inputs .btn:first-child{
	margin-right:2px;
}
.status-icon, .notification-avatar:after, .user-avatar:after {
	right: 0;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	float:left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
	right: 20px;
}
ul.totalList > li {
    border-right: 1px solid #dfdfdf;
}
ul.totalList > li:last-child {
	border-right:none
}
.job-overview .job-overview-inner ul li {
	padding-left: 2rem;
}
.job-overview .job-overview-inner ul li i {
	left: 0;
}
.single-page-header .salary-box {
	margin-left: 1.5rem;
}
.toggleUD {
    right: 1.25rem;
}
.number {
    left: 1.25rem;
}
.milestone-item {
	padding-left:1.25rem
}
.brr-0 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ribbon-top-right {
    right: -15px;
}
.ribbon-top-right span {
    left: 30px;
    transform: rotate(45deg);
}
ul.dashboard-box-list.if-button > li {
    padding-right: 64px;
}
ul.dashboard-box-list.if-double-button > li {
    padding-right: 100px;
}
.dashboard-box .freelancer-overview .freelancer-name {
	text-align: left;
}
.comment-by .status {
    right: 0;
}
.comments ul li ul {
	margin: 0 0 0 64px;
}
.comment-content {
	padding: 0 0 0 100px;
}
.comments ul li ul {
	border-left: 1px solid #e0e0e0;
	padding-left: 25px;
}
.comments ul li ul li:before {
	left: -25px;
}
.comment-content strong {
	padding-right: 5px;
}
.avatar {
	float: left;
	left: 0px;
}
.backbtnproject {
	margin-right:0.5rem
}
.dropdown-menu > li > a {
	padding-right: 35px;
}
.thumbnail_sec > a.ico {	
	margin-left:0.5rem;
}
.myradio .btn-group .btn + .btn {
	margin-left:1rem
}
.checkbox label {
	padding-left: 30px;
}
.checkbox label span.checkbox-icon {
	left: 0;
}
.dashboard-status-button{
	margin-left:5px;
}
ul.postJobStep li a i:first-child{
    margin-right: 5px;
}

@media (min-width: 768px) {
	.signup:before {
		background-color:#2C597A;
	}
	.signup:after {		
		background-color:#29b6f6;	
	}
	ul.totalList > li:nth-child(4n) {
		border-right:none
	}
	.dashboard-box .freelancer-overview .freelancer-name {
		margin-left:1.25rem;
	}
	.attachmentFile {
		border-left: 1px solid #dee2e6;
	}

}
@media only screen and (min-width: 992px) {
	.freelancer-actions {
		margin-left: 98px;
	}
	.process .border-right {
		border-right: 1px solid #e1e1e1
	}
	.process .border-left {
		border-left: 1px solid #e1e1e1
	}
}

 @media (max-width: 991.99px) {
	.message-bubble.me .message-text{
		margin:0;
	}
	ul.dashboard-box-list.if-button > li.application-list{
		padding-right:1.25rem;
	}
	ul.dashboard-box-list.if-button > li.application-list .freelancer-overview{
		padding-right:64px;
	}
}
 @media (max-width: 767.99px) {
	
 }


/* END CSS */