@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 0) {
html {
    font-size: 14px;
}
}

@media only screen and (min-width: 768px) {
ul.totalList > li {
	flex: 0 0 25%;
}

.pricing-group > .btn {
    flex: 0 0 calc(33.3333% - 1.25rem);
}
.attachmentFile {
	width: 200px;
}
.attachmentFile ul> li>a h5{
	max-width: 180px;
}
html {
    font-size: 15px;
}
.pricing-group > .btn {
    flex: 0 0 calc(25% - 1.25rem);
}
.attachScrollbar {
	height: 450px
}
.message-content-inner {
	height: 400px;
}
}

@media only screen and (min-width: 992px) {
	.sidebar-filter{
		padding: 1.25rem;
	}
	.language-switcher.bootstrap-select.btn-group button {
		border-color: transparent;
	}
	.dashboard-sidebar-inner{
		height:750px !important;
	}
	.freelancer-actions {
		margin-left: 85px;
		min-width: 480px;
	}
	/*.dashboard-content-inner {
		min-height: 750px;
	}*/
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
	.short-banner{
		padding: 1.5rem 0;
	}
	.short-banner h1{
		font-size: 2rem;
	}
	.xl-20 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	ul.top-list{
		columns: 4;
	}
	.job-listing .freelancer-intro > h5,
	#talent_list .job-listing h4.job-listing-title {
		max-width: 330px;
	}
	.banner-headline-alt {
		display: block;
		max-width: 50%;
	}
	
}

@media only screen and (max-width: 991.98px) {
	.sidebar-filter{
		background-color: #fff;
		border-radius: 0.5rem 0.5rem 0 0;
		position: fixed;
		z-index: 1002;
		height: 80%;
		bottom: 0;
		left: 0;
		transition: 0.3s;
		width: 100%;
		display: none;
	}
	.sidebar-filter .filter-body {
		overflow-x: scroll;
		height: calc(100% - 50px) !important;
		padding: 1rem;
	}
	.tippy-popper {
		display:none;
	}
	.milestone_row_parent{
		border-bottom: 1px dashed #ccc;
		margin-bottom: 1.5rem;
		padding-bottom: 0.5rem;
	}
	.milestone_row_parent:last-child{
		border-bottom:none;
		margin-bottom:0;
		padding-bottom:0;
	}
}

@media only screen and (max-width: 767.99px) {
	ul.totalList > li {
		flex: 0 0 50%;
	}
	ul.totalList > li:nth-child(2n) {
		border-right:none
	}
	/*.sidebar-container {
		margin-top: 20px;
	}*/
	.search-box {
		margin-bottom:1rem
	}
	.task-listing > .task-listing-body{
		flex-direction:column;
	}
	.dashboard-box .job-listing .job-listing-footer.if-button{
		padding-right:40px;
	}
	.job-listing-footer .dashboard-status-button {
		margin: 3px 0;
	}
	.nav-tabs {
		overflow-x: auto;
		white-space: nowrap;
		flex-wrap: inherit;
		min-height: 37px;
	}
	.attachmentFile {
		border-top: 1px solid #dee2e6;
	}
	.avatar-wrapper {
		width: 84px;
		height: 84px;
	}
	.myradio .btn-group > .btn {
		line-height: 1.25;
		padding: 1rem;
	}

}

@media only screen and (max-width: 575px) {
	.hide-under-sm{
		display:none !important;
	}
	.myradio .btn-group {
		flex-wrap: wrap;
		margin-bottom:-1rem;
		width: calc(100% + 1rem);
	}
	.myradio .btn-group > .btn {
		flex: 0 0 calc(50% - 1rem);
		max-width: calc(50% - 1rem);
		margin-bottom: 1rem;
	}
	.myradio .btn-group > .btn:nth-child(3){
		margin-left:0 !important;	
	}
	.avatar-wrapper {
		margin: 0 auto 1rem;
	}
	ul.dashboard-box-list.if-double-button > li{
		padding-right:1.25rem;
	}
	ul.dashboard-box-list.if-double-button > li .buttons-to-right{
		position:inherit;
		left: 0;
		top: 1rem;
		box-shadow:none;
	}
}




/* END CSS */