@charset "utf-8";
/* CSS Document */

@media only screen and (min-width: 0) {
html {
    font-size: 14px;
}
}

@media only screen and (min-width: 768px) {
ul.totalList > li {
	flex: 0 0 25%;
}
ul.totalList > li:nth-child(4n) {
	border-right:none
}
.pricing-group > .btn {
    flex: 0 0 calc(33.3333% - 1.25rem);
}
.attachmentFile {
	width: 200px;
}
.attachmentFile ul> li>a h5{
	max-width: 180px;
}
html {
    font-size: 15px;
}
.freelancer-actions {
	margin-left: 85px;
    min-width: 480px;
}
.pricing-group > .btn {
    flex: 0 0 calc(25% - 1.25rem);
}

}

@media only screen and (min-width: 992px) {
	.freelancer-actions {
		margin-left: 98px;
	}
	.language-switcher.bootstrap-select.btn-group button {
		border-color: transparent;
	}
	.dashboard-sidebar-inner{
		height:750px !important;
	}
	/*.dashboard-content-inner {
		min-height: 750px;
	}*/
}

@media only screen and (min-width: 1200px) {
	html {
		font-size: 16px;
	}
	.xl-20 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}
	ul.top-list{
		columns: 4;
	}
	#talent_list .job-listing h4.job-listing-title {
		max-width: 330px;
	}
	
}

@media only screen and (max-width: 991px) {
	.sidebar-container, .tippy-popper {
		display:none;
	}
	.milestone_row_parent{
		border-bottom: 1px dashed #ccc;
		margin-bottom: 1.5rem;
		padding-bottom: 0.5rem;
	}
	.milestone_row_parent:last-child{
		border-bottom:none;
		margin-bottom:0;
		padding-bottom:0;
	}
}

@media only screen and (max-width: 767px) {
ul.totalList > li {
	flex: 0 0 50%;
}
ul.totalList > li:nth-child(2n) {
	border-right:none
}
/*.sidebar-container {
	margin-top: 20px;
}*/
.search-box {
	margin-bottom:1rem
}
.task-listing > .task-listing-body{
	flex-direction:column;
}
.dashboard-box .job-listing .job-listing-footer.if-button{
	padding-right:40px;
}
.job-listing-footer .dashboard-status-button {
    margin: 3px 0;
}

}

@media only screen and (max-width: 575px) {
	.avatar-wrapper {
		margin: 0 auto 1rem;
	}
	ul.dashboard-box-list.if-double-button > li{
		padding-right:1.25rem;
	}
	ul.dashboard-box-list.if-double-button > li .buttons-to-right{
		position:inherit;
		left: 0;
		top: 1rem;
		box-shadow:none;
	}
}




/* END CSS */